<ion-header>
  <!-- <ion-navbar color="green">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-buttons *ngIf="loginuser" end>
      <button ion-button icon-only (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
      </button>

      <ion-badge *ngIf="this.cart.length > 0">{{ this.cart.length }}</ion-badge>
      <button ion-button icon-only (click)="viewcart()" size="small">
          <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="showorders()">
        <img src="../../assets/icon/productorder.png" class="image">
      </button>
    </ion-buttons>
    <ion-label class="userlabel">Login as: <br>{{this.loginuser}}</ion-label>
    <ion-label class="userlabel">{{this.loginuser}}</ion-label>
  </ion-navbar> -->

  <ion-navbar color="green">
      <!-- <ion-list color="danger" no-lines> -->
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>

          <ion-buttons end>
            <ion-badge *ngIf="this.cart.length > 0">{{ this.cart.length }}</ion-badge>
              <button ion-button icon-only (click)="viewcart()" size="small">
                  <ion-icon name="cart"></ion-icon>
              </button>
          </ion-buttons>

            <ion-label class="userlabel" right>Login as:{{this.loginuser}}</ion-label>
            <!-- <ion-label class="user-label" right></ion-label> -->
            <ion-buttons *ngIf="loginuser" end>
              <button ion-button icon-only (click)="logout()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-buttons>

          <ion-buttons end>
              <button ion-button icon-only (click)="showorders()">
                <img src="../../../assets/icon/productorder.png" class="image">
              </button>
          </ion-buttons>
      <!-- </ion-list> -->

    </ion-navbar>

</ion-header>
<!-- src\assets\imgs\mapexslogo_360x.jpg -->
<ion-content>
    <ion-item no-lines>
        <ion-img src="./assets/img/mapexslogo_360x.jpg"></ion-img>
    </ion-item>
    <ion-item no-lines>
        <!-- <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyaoS9_r_P2KN1OhJRZGF883fdYw8DfCcTumhLNbK3vdF4ZZJT7w"></ion-img> -->
    </ion-item>
      <ion-item no-lines ion-padding-top>
          <ion-slides *ngIf="this.imgcollection && this.imgcollection.length"
          autoplay="5000" loop="true" speed="500" pager="true" effect="converflow">
            <ion-slide *ngFor= "let d of this.imgcollection">
              <img src='../../assets/img/slider/{{d}}' tappable>
                  <!-- <ion-img src={{d.images[0].src}} tappable> -->
            </ion-slide>
          </ion-slides>
      </ion-item>

      <ion-item no-lines ion-padding-top>
          <ion-grid>
              <ion-row>
                <ion-col class="shopforheader">Shop For</ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4 *ngFor= "let collection of this.collectiondata">
                    <img (click)="showproducts(collection)" src={{collection.src}} class="imgclass">
                    <!-- <ion-thumbnail>
                        <img (click)="showproducts(collection)" src={{collection.src}} class="imgclass">
                    </ion-thumbnail> -->
                    <!-- <div class="image-container" [style.background-image]="'url(' + collection.src + ')'">
                      </div> -->
                    <ion-label text-wrap>{{collection.title}}</ion-label>
                </ion-col>
              </ion-row>


            </ion-grid>
      </ion-item>


      <!-- <ion-content>
        <ion-item *ngFor= "let collection of this.collectiondata">
          <ion-label>Featured Collection</ion-label>
          <ion-item *ngFor= "let prod of collection.products" no-lines>
            <ion-thumbnail>
                <img src={{prod.images[0].src}}>
            </ion-thumbnail>

              <ion-label>{{prod.title}}</ion-label>
              <ion-label>{{prod.variants[0].price}}</ion-label>
          </ion-item>
        </ion-item>

      </ion-content> -->
<!-- <ion-list>
  <ion-item *ngFor= "let collection of this.allcollectiondata">
      <ion-label class="shopforheader">Featured Collection</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor= "let prod of collection.products">
        <img src={{prod.images[0].src}} class="imgclass" (click)="showdetailitems(prod)">
        <ion-label>{{prod.title}}</ion-label>
        <ion-label>{{prod.variants[0].price}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list> -->


      <ion-grid>
          <ion-row *ngFor= "let collection of this.allcollectiondata">
            <ion-item>
                <ion-label class="shopforheader">Featured Collection</ion-label>
            </ion-item>
            <!-- col-md-4 col-xl-3  -->
            <ion-col>
                <ion-grid>
                  <ion-row>
                    <ion-col col-6 *ngFor= "let prod of collection.products">
                      <!-- <ion-thumbnail>
                          <img src={{prod.images[0].src}} class="imgclass" (click)="showdetailitems(prod)">
                      </ion-thumbnail> -->
                      <img src={{prod.images[0].src}} class="image-container" (click)="showdetailitems(prod)">
                      <!-- <div (click)="showdetailitems(prod)" class="image-container" [style.background-image]="'url(' + prod.images[0].src + ')'">
                      </div> -->
                      <ion-label>{{prod.title}}</ion-label>
                      <ion-label>{{prod.variants[0].price}}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-col>

            </ion-row>
      </ion-grid>
</ion-content>

<!-- [effect]="'converflow'" -->
