page-register {
  ion-label {
    font-size: small;
  }
  ion-input {
    font-size: small;
  }
  ion-img {
    width: 80%;
    height: 100px;
    background-color: white;
    margin: auto;
    display: block;
  }
  .headerlabel {
    font-size: large;
    font-style: initial;
    text-align: center;
  }
}
